body,
html {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Neue', 'Calibri', Arial, sans-serif;
    height: 100%;
}

#app {
    background: #263238;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    height: 100%;
}

.preview-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 0;
}

video {
    width: 90%;
    height: 90%;
}

#main-container {
    background: oldlace;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}

#main-container canvas {
    display: none;
}

alert {
    z-index: 11;
}